/*body {*/
    /*height: 100%;*/
/*}*/

#website-header {
    height: 90px;
    background-color: black;
}

.img-div {
    display: inline-block;
    width: 10%;
}

.img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-left: 40px;
}

.my-website {
    display: inline-block;
    width: 10%;
    color: white;
    height: 100%;
}

.nav-li {
    float: right;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 67px;
}

.header-ul-li {
    display: inline-block;
    margin-right: 30px;
}

#website-body {
    height: 700px;
}

.website-nav {
    float: left;
    height: 100%;
    width: 15%;
    background-color: #eff0f1;
}

.body-ul-li {
    list-style-type: none;
    margin-top: 15px;
}

.website-section {
    float: right;
    height: 100%;
    width: 85%;
}

.text {
    display: inline-block;
    width: 40%;
    height: 100%;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 10px;
}

.insert-img {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    float: right;
    width: 48%;
    height: 100%;
}

.insert-text-img {
    width: 300px;
    height: 200px;
    margin-top: 75px;
    margin-left: -150px;
}

#website-footer {
    height: 4%;
    background-color: black;
    text-align: center;
    line-height: 30px;
    color: white;
}
